.wrapper {
  height: auto;
  padding: 20px;
  width: 100%;
  flex-grow: 1;
  box-sizing: border-box;

  max-width: 1200px;
  margin: 0 auto; 
  background-color: #ce9a9a; 
  border-radius: 10px; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}
