
.wrapper {
  background-color: #e4bebe;
  color: #333;
  padding: 1.5rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

p.content {
  line-height: 1.6;
}
